<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Coding Round Test">

	<test name="Booking Tests">

		<classes>
			<class name="testcases.SignInTest" />
			<class name="testcases.FlightBookingTest" />
			<class name="testcases.HotelBookingTest" />


		</classes>
	</test>
</suite>